@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*,*::before, *::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
img{
    max-width: 100%;
    display: block;
    object-fit: cover;
    line-height: 0;
}
body{
    width: 100%;
    background-color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
}
:root{
    --brown:hsla(24, 56%, 63%, 1);
    --black: hsla(0, 0%, 8%, 1);
    --gray: hsla(0, 0%, 27%, 1);
    --white: hsla(0, 0%, 100%, 1);
}
/* Location Page Styles */
.map-container{
    position: relative;
}
.location-btn-container-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: var(--black);
    top: 0;
    position: absolute;
    margin-left: 25%;
    left: 9%;
    margin-top: 1%;
}
.location-btn-container-2:hover{
    background-color: var(--brown);
    transition: all ease 0.3s;
}
.location-btn-2{
    width: max-content;
    padding: 1.5rem;
    font: 600 1.5rem 'Big Shoulders Display', sans-serif;
    letter-spacing: 5px;
    color: var(--white);
    transition: all ease 0.3s;
}
.location-btn-2:hover~.arrow-btn-l{
    background-color: var(--black);
}
.arrow-btn-l{
    padding: 1.5rem;
    background-color: var(--brown);
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
}
.arrow-btn-l:hover{
    background-color: var(--black);
    transition: all ease 0.3s;
}
iframe{
    width: 100%;
    height: 90vh;
}
.location{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5rem;
}
.title{
    font-size: 3.5rem;
    font-weight: 900;
    max-width: 50%;
    align-self: start;
}
.location-details{
    max-width: 50%;
    color: var(--white);
    font-family: sans-serif;
    font-size: 25px;
    font-weight: light;
    line-height: 2rem;
}
.location-details h2{
    color: var(--brown);
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    font-family: 'Big Shoulders Display', sans-serif;
}
.location-details div{
    margin-bottom: 1.5rem;
}
footer{
    width: 100%;
    background-color: var(--brown);
    display: flex;
    align-items: start;
    color: var(--white);
    padding: 2.5rem 5rem;
    gap: 1rem;
    justify-content: space-between;
}
.footer.logo{
    width: 20%;
}
.footer.logo img{
    width: max-content;
}
.footer.summary{
    width: 40%;
}
.footer.summary p{
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5rem;
    font-weight: light;

}
.footer.socials{
    width: 20%;
}
.footer.socials ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    color: var(--brown);
}
.footer.socials ul li i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;

}
.footer.socials ul li i:hover{
    background-color: var(--black);
    transition: all ease-in-out 0.3s;
}
@media(max-width: 990px){
    .location-btn-container-2{
        top: 20%;
        position: absolute;
        margin-left: 2%;
        left: 0%;
    }
    .title{
        font-size: 2.5rem;
    }
    .location-details{
        font-size: 20px;
    }
    .location-details h2{
        font-size: 2rem;
    }
}
@media (max-width: 815px){
    .location{
        padding: 5%;
    }
    .title{
        font-size: 2rem;
    }
    .location-details{
        font-size: 18px;
    }
    .location-details h2{
        font-size: 1.5rem;
    }
    footer{
        padding: 5%;
    }
}
@media (max-width: 550px){
    .location{
        display: flex;
        flex-direction: column;
    }
    .title{
        max-width: 100%;
        width: fit-content;
    }
    .location-details{
        max-width: 100%;
        width: fit-content;
    }
    footer{
        display: block;
        padding: 10% 5%;
    }
    .footer{
        width: 100%;
    }
    .footer.logo{
        width: 100%;
        margin-bottom: 5%;
    }
    .footer.summary{
        width: 80%;
        margin-bottom: 5%;
    }
    .footer.summary p{
        font-size: 16px;
    }
    .footer.socials{
        width: 100%;
    }
    .footer.socials ul{
        justify-content: start;
    }
}
@media(max-width: 460px){
    .location-btn-container-2{
        max-width: 80%;
        width: fit-content;
    }
    .location-btn-2{
        padding: 1rem;
        font-size: 1.2rem;
        margin: auto 0;
    }
    .arrow-btn-l{
        padding: 1rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .location-details{
        font-size: 16px;
    }
    .location-details h2{
        font-size: 1.2rem;
    }
}