@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*,*::before, *::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
img,
picture,
source{
    max-width: 100%;
    display: block;
    object-fit: cover;
    line-height: 0;
}
body{
    background-color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
}
:root{
    --brown:hsla(24, 56%, 63%, 1);
    --black: hsla(0, 0%, 8%, 1);
    --gray: hsla(0, 0%, 27%, 1);
    --white: hsla(0, 0%, 100%, 1);
}
header{
    max-width: 100%;
    width: 100%;
    height: 800px;
    overflow-x: hidden;
}
.header-content-container{
    position: relative;
    height: 100%;
    background-image: linear-gradient( to right,  var(--black) 50%, var(--white) 50%);
    padding: 0 6rem;
}
.header-content-container img{
    position: absolute;
    left: 30%;
    animation: slideUp ease 1.5s;
    transition:  ease-out 1.2s;
    animation-delay: 200ms;
}
@keyframes slideUp{
    0%{
        transform: scale(10%);
    }
    100%{
        transform: scale(100%);
    }
}
.header-content{
    padding-top: 12rem;
    position: relative;
    display: flex;
    left: 0%;
    justify-content: space-between;
    animation: slideDown ease 0.5s;
    transition: all ease-out 1.5s;
    animation-delay: 200ms;
}
@keyframes slideDown{
    0%{
        transform: translateY(-40%);
    }
    100%{
        transform: translateY(0%);
    }
}
.header-content h1{
    width: 60%;
    position: absolute;
    left: 0;
    font-size: 6.4rem;
    font-weight: 900;
    color: var(--white);
    mix-blend-mode: difference;
    line-height: 6rem;
}
.header-content .summaryandlocation{
    width: 27%;
    position: absolute;
    right: -8px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 2.3rem;
    color: var(--black);
}
.header-content .summaryandlocation span{
    color: var(--black);
    font-weight: 700;
}
.location-btn-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--black);
    top: 0;
    position: relative;
    left: 0%;
    max-width: 90%;
    width: max-content;
    margin-top: 10%;
}
.location-btn-container-1:hover{
    background-color: var(--brown);
    transition: all ease 0.3s;
}
.location-btn-1{
    width: max-content;
    padding: 1.5rem;
    font: 700 1.5rem 'Big Shoulders Display', sans-serif;
    letter-spacing: 4px;
    color: var(--white);
    transition: all ease 0.3s;
}
.location-btn-1:hover~.arrow-btn-r{
    background-color: var(--black);
}
.arrow-btn-r{
    padding: 1.5rem;
    background-color: var(--brown);
    transition: all ease 0.3s;
    position: relative;
    display: flex;
    align-items: center;
}
.arrow-btn-r:hover{
    background-color: var(--black);
    transition: all ease 0.3s;
}
.gallery-container{
    padding: 10rem 5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 11rem 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "one two two"
    "three three four"
    "three three five";
}

.gallery-container .content.card.one{
    grid-area: one;
}
.gallery-container .content.two{
    grid-area: two;
    overflow: hidden;
}
.gallery-container .content.two img:hover{
    filter: saturate(200%);
    transform: scale(1.05);
    transition: all ease-in-out 0.8s;
}
.gallery-container .content.three{
    overflow: hidden;
    grid-area: three;
}
.gallery-container .content.three img:hover{
    filter: saturate(200%);
    transform: scale(1.05);
    transition:  ease-in-out 0.8s;
}
.gallery-container .content.four{
    grid-area: four;
    overflow: hidden;
}
.gallery-container .content.four img:hover{
    filter: saturate(200%);
    transform: scale(1.05);
    transition: all ease-in-out 0.8s;
}
.gallery-container .content.card.two{
    grid-area: five;
}
.gallery-container .card{
    padding: 2rem;
}
.gallery-container .card h2{
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 1rem;
}
.gallery-container .card p{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 2rem;
}
.gallery-container .card.one{
    background-color: #ececec;
    color: var(--gray);
}
.gallery-container .card.one:hover{
    background-color: var(--black);
    color: var(--white); 
    transition: all ease-in-out 0.5s;
}
.gallery-container .card.two{
    background-color: var(--black);
    color: var(--white);
    
}
.gallery-container .card.two:hover{
    background-color: #ececec;
    color: var(--gray);
}

footer{
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: start;
    color: var(--white);
    padding: 2rem 5rem;
    gap: 1rem;
    justify-content: space-between;
}
.footer.logo{
    width: 20%;
}
.footer.logo img{
    width: max-content;
}
.footer.summary{
    width: 40%;
}
.footer.summary p{
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5rem;
    font-weight: light;

}
.footer.socials{
    width: 20%;
}
.footer.socials ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    color: var(--black);
}
.footer.socials ul li i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;

}
.footer.socials ul li i:hover{
    background-color: var(--brown);
    transition: all ease-in-out 0.3s;
}
/* Media Queries*/
@media (max-width: 1250px){
    .gallery-container .card h2{
        font-size: 3rem;
    }
    .location-btn-1{
        padding: 1.5rem 1rem;
        font-size: 1.2rem;
        letter-spacing: 3px;
    }
}
@media (max-width: 1100px){
    .gallery-container .card h2{
        font-size: 2rem;
    }
    .location-btn-1{
        padding: 1.5rem 0.6rem;
    }
}
@media (max-width: 990px){
    .header-content-container{
        padding: 0 3rem;
    }
    .header-content h1{
        width: fit-content;
        line-height: 5rem;
        font-size: 5rem;
    }
    .header-content .summaryandlocation{
        width: 35%;
        right: 0;
        line-height: 2rem;
    }
    .gallery-container .card{
        padding: 12px;
    }
    .gallery-container .card h2{
        font-size: 3rem;
    }
    .gallery-container .card p{
        font-size: 16px;
        line-height: 1.7rem;
    }
    footer{
        padding: 2rem 3rem;
    }
    .footer{
        width: 100%;
    }
    .footer.logo img{
        width: 60%;
    }
    .footer.summary p{
        font-size: 12px;
    }
}
@media (max-width: 875px){
    .gallery-container .card h2{
        font-size: 1.7rem;
    }
    .gallery-container .card p{
        font-size: 14px;
    }
}
    /*TABLET SCREENS */

@media (max-width: 815px){
    .header-content-container{
        width: 100vw;
        background-image: linear-gradient(var(--white));
    }
    .header-content-container img{
        left: 0%;
    }
    .header-content{
        padding-left: 10%;
        max-width: 50%;
        width: max-content;
        padding-top: 6rem;
        left: 40%;
        display: flex;
        flex-direction: column;
    }
    .header-content h1{
        width: max-content;
        position: relative;
        left: 0;
        font-size: 3em;
        margin-bottom: 1rem;
        color: var(--black);
        mix-blend-mode: normal;
        line-height: 4rem;
    }
    .header-content .summaryandlocation{
        width: 100%;
        position: relative;
        right: 0;
        font-size: 1em;
        line-height: 2rem;
    }
    .location-btn-container-1{
        display: flex;
        align-items: stretch;
    }
    .location-btn-1{
        font-size: .8rem;
        letter-spacing: 3px;
    }
    .arrow-btn-r img {
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .gallery-container .card{
        padding: 15%;
    }
    .gallery-container .card h2{
        font-size: 3em;
    }
    .gallery-container .card p{
        font-size: 18px;
        line-height: 1.8rem;
        font-size: 900;
    }
    .gallery-container{
        padding: 10rem 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ; 
        grid-template-areas: 
        "one two two"
        "three three four"
        "three three five";
    }
    .content picture,
    .content img {
        width: auto;
        height: 100%;
    }
    footer{
        padding: 2rem;
        justify-content: space-between;
    }
    .footer{
        width: 100%;
    }
    .footer.logo img{
        width: max-content;
    }
    .footer.summary p{
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }
    .footer.socials ul{
        gap: .5rem;
    }

}
@media (max-width: 740px){
    .gallery-container .card h2{
        font-size: 2em;
    }
    .gallery-container .card p{
        font-size: 14px;
        line-height: 1.5rem;
        font-size: 900;
    }
}

/* MOBILE SCREENS */
@media (max-width: 550px){
    header{
        height: auto;
    }
    .header-content-container{
        width: 100%;
        padding: 0;
    }
    .header-content-container img{
        width: 100%;
        position: relative;
        animation: none;
    }
    .header-content{
        max-width: 100vw;
        padding-left: 5%;
        width: 90%;
        padding-top: 2rem;
        left: 0%;
        animation: none;
    }
    .header-content h1{
        font-size: 3.5em;
    }
    .header-content .summaryandlocation p{
        width: 100%;
        font-size: 1.4em;
        line-height: 2.5rem;
    }
    .location-btn-container-1{
        max-width: 60%;
        width: fit-content;
    }
    .location-btn-1{
        font-size: 1rem;
    }
    .gallery-container .card{
        padding: 10%;
    }
    .gallery-container .card h2{
        font-size: 5rem;
    }
    .gallery-container .card p{
        font-size: 22px;
        line-height: 1.8rem;
        font-size: 900;
    }
    .gallery-container{
        padding: 4rem 5%;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr  1fr 1fr 1fr ; 
        grid-template-areas: 
        "one"
        "two"
        "three"
        "three"
        "four"
        "five";
    }
    footer{
        display: block;
        padding: 10% 5%;
    }
    .footer{
        width: 100%;
    }
    .footer.logo{
        width: 100%;
        margin-bottom: 5%;
    }
    .footer.summary{
        width: 80%;
        margin-bottom: 5%;
    }
    .footer.summary p{
        font-size: 16px;
    }
    .footer.socials{
        width: 100%;
    }
    .footer.socials ul{
        justify-content: start;
    }
}
@media (max-width: 365px){
    .header-content h1{
        font-size: 2.8em;
        line-height: 2.7rem;
    }
    .gallery-container .card h2{
        font-size: 2.6em;
    }
    .location-btn-container-1{
        max-width: 80%;
        width: fit-content;
    }
    .location-btn-1{
        font-size: .8rem;
    }
}
